.form {
  display: flex;
  justify-content: center;

  &__input {
    border: 0;
    outline: none;
    width: 100%;
    border-radius: 30px;
    padding: 20px 20px;
    background-image: url('../../../../assets/imgs/arrow.svg');
    background-repeat: no-repeat;
    background-position: 97% center;
    background-size: 30px;
    padding-right: 70px;

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }

  &__input,
  &__input::placeholder {
    font-family: 'Montserrat, sans-serif';
    font-size: 18px;

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }
}
