@import 'src/app/chat/styles/variables.scss';
@import 'src/app/chat/styles/mixins.scss';

.message {
  margin-bottom: 20px;

  &-from {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    &__text {
      color: $dark-grey;
      background-color: $grey;
    }
  }

  &-to {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__img {
      @include roundedPhoto;
      margin-right: 10px;
    }

    &__text {
      color: #fff;
      background-color: $dark-grey;
    }
  }

  &-text {
    padding: 10px 20px;
    border-radius: 30px;
    min-width: 50px;
    max-width: 500px;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: 1200px) {
      font-size: 14px;
    }
  }

  &-date {
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;

    @media (max-width: 1200px) {
      font-size: 10px;
    }
  }
}
