<div class="wrapper">
  <div class="left">
    <div class="left__top">
      <div class="user-photo-wrapper">
        <img
          src="../../../../assets/imgs/user.png"
          alt=""
          class="left__top-user"
        />
      </div>
      <app-search></app-search>
    </div>
    <div class="left__chats">
      <span class="left__chats-heading">Chats</span>
      <app-contact
        *ngFor="let chat of chats$ | async"
        [chat]="chat"
        (chatId)="getChatById($event)"
      ></app-contact>
    </div>
  </div>

  <div class="right">
    <div class="right__top">
      <div class="user-photo-wrapper">
        <img
          class="right__top-img"
          [src]="(chat$ | async)?.photo ?? '../../../../assets/imgs/user.png'"
          alt=""
        />
      </div>
      <span class="right__top-heading">
        {{ (chat$ | async)?.name }}
      </span>
    </div>

    <div class="right__history">
      <app-message [chat$]="chat$"></app-message>
    </div>
    <div class="right__message-input">
      <app-message-input (newMessage)="sendMessage($event)"></app-message-input>
    </div>
  </div>
</div>
