<div class="contact" (click)="openHistory(contact.id)">
  <div class="contact-wrapper">
    <div class="user-photo-wrapper">
      <img
        class="contact__img"
        [src]="
          contact.photo ? contact.photo : '../../../../assets/imgs/user.png'
        "
        alt=""
      />
    </div>

    <div class="contact__data">
      <span class="contact__data-name">{{ contact.name }}</span>
      <span class="contact__data-message">
        <!-- Get a last message from array of messages -->
        {{ contact.history.length ? contact.history.slice(-1)[0].text : '' }}
      </span>
    </div>
  </div>

  <div class="contact__date">
    <!-- Get a date of last message from array of messages -->
    <span>
      {{
        contact.history.length
          ? (contact.history.slice(-1)[0].date | date)
          : null
      }}
    </span>
  </div>
</div>
