<div class="contact" (click)="openHistory(chat.id)">
  <div class="contact-wrapper">
    <div class="user-photo-wrapper">
      <img
        class="contact__img"
        [src]="chat.photo ? chat.photo : '../../../../assets/imgs/user.png'"
        alt=""
      />
    </div>

    <div class="contact__data">
      <span class="contact__data-name">{{ chat.name }}</span>
      <span class="contact__data-message">
        <!-- Get a last message from array of messages -->
        {{ chat.history.slice(-1)[0].text }}
      </span>
    </div>
  </div>

  <div class="contact__date">
    <!-- Get a date of last message from array of messages -->
    <span>{{ chat.history.slice(-1)[0].date | date }}</span>
  </div>
</div>
